  #page{
    background-color: antiquewhite;
    
    
  } 
   #content{
    display: flex;
    
   }
   .container{
    padding-right: 300px;
   }

  
   #image{
    width: 500px;
    height: 520px;
    margin-left: 30%;
}